evaluation_script/.DS_Store
__pycache__/helper.cpython-313.pyc
__pycache__/llm.cpython-313.pyc
model_temp/
logs.txt
__pycache__/evaluate.cpython-313.pyc
old/
unsloth_compiled_cache/
final_models/
__pycache__
prompts_log/
results/results_test-train_dev/unsloth_Mistral-Small-3.2-24B-Instruct-2506-bnb-4bit
results/results_test-train_dev/unsloth_Qwen3-32B-unsloth-bnb-4bit
task-dataset/