evaluation_script/.DS_Store
__pycache__/helper.cpython-313.pyc
__pycache__/llm.cpython-313.pyc
model_temp/
logs.txt
__pycache__/evaluate.cpython-313.pyc
old/
unsloth_compiled_cache/
final_models/
__pycache__
prompts_log/